<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.DebugWebdavSyncReceiver"
            android:enabled="false"
            android:exported="false" />
        <activity
            android:name="com.huangder.lumibooks.util.epub.EpubHighlightTestActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            android:turnScreenOn="true" />
    </application>
</manifest>
